# ─── Database ────────────────────────────────
# Lấy tại: https://console.neon.tech
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
# ─── NextAuth.js ─────────────────────────────
NEXTAUTH_SECRET="tao-bang-lenh-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# ─── Google OAuth ────────────────────────────
# Lấy tại: https://console.cloud.google.com/auth/clients
GOOGLE_CLIENT_ID="your-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-your-client-secret"
#Lên khênh chat discord env để lấy code